.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  padding: 20px;
  min-width: 200px;
}

.footer-section h3 {
  margin-bottom: 15px;
  font-size: 18px;
  text-transform: uppercase;
}

.footer-section p,
.footer-section ul {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style-type: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-section ul li a:hover {
  color: #e38d13;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.social-icons a {
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s;
}

.social-icons a:hover {
  color: #e38d13;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 14px;
  border-top: 1px solid #555;
  padding-top: 10px;
  width: 100%;
  max-width: 1200px;
  text-align: center;
}
