/* Header.css */
.account-container {
  max-width: 750px;
  margin: 3em auto;
  padding: 1.5em;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.account-container h2 {
  text-align: center;
  margin-bottom: 1em;
}

.account-container .input-container {
  margin-bottom: 1em;
}

.account-container label {
  display: block;
  margin-bottom: 0.5em;
}

.account-container input {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

.account-container button {
  width: 100%;
  padding: 0.5em;
  background-color: #007bff;

  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1em;
}

.account-container button:hover {
  background-color: #0056b3;
}

.account-container .error {
  color: red;
  text-align: center;
  margin-bottom: 1em;
}

.account-container img {
  width: 100%;
}

.account-container .google-signin-button {
  background-color: #db4437;
  border: none;
  margin-top: 0px;
}

.account-container .google-signin-button:hover {
  background-color: #c33d2e;
}

/* Login.css */
.login-container {
  max-width: 250px;
  margin: 3em auto;
  padding: 1.5em;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 1em;
}

.login-container .input-container {
  margin-bottom: 1em;
}

.login-container label {
  display: block;
  margin-bottom: 0.5em;
}

.login-container input {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

.login-container button {
  width: 100%;
  padding: 0.5em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1em;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container .error {
  color: red;
  text-align: center;
  margin-bottom: 1em;
}

.login-container img {
  width: 100%;
}

.login-container .google-signin-button {
  background-color: #db4437;
  border: none;
  margin-top: 0px;
}

.login-container .google-signin-button:hover {
  background-color: #c33d2e;
}

.custom-toast {
  height: 18px;
  width: 300px;
  background-color: #333;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 18px;
}
