/* Ensure the container takes full height and width */
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 650px;
  width: 100%;
  padding: 20px;
  background-color: white;
}

.account-sidebar {
  text-align: center;
}

.account-sidebar .ant-avatar {
  margin-bottom: 10px;
}

.account-badges {
  margin-top: 10px;
}

.account-badges .badge {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: #d9d9d9;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
  margin-right: 5px;
}

.account-details {
  width: 100%;
  max-width: 800px;
  padding: 20px;
  border-radius: 8px;
}

.account-details .ant-form-item-label > label {
  color: #000000; /* Change label color to black */
}

.account-details .ant-form-item input {
  border-radius: 4px;
}

.account-details .ant-form-item {
  margin-bottom: 16px; /* Add margin between form items */
  background-color: transparent;
}

.account-details .ant-btn {
  width: 100px; /* Set button width */
  background-color: #1890ff; /* Button background color */
  border: none; /* Remove border */
  display: flex;
  align-items: center;
  justify-content: center;
}

.account-details .ant-btn:hover {
  background-color: #40a9ff; /* Change button color on hover */
}

.account-details .ant-btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
}
