header {
  background-color: #e38d13;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: end;
  padding: 5px 70px 10px 0;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

/* header:hover {
  background-color: #13a085;
} */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px 10px;
  border-radius: 5px;
}

/* S */

/* Transition effect */
.fade-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.fade-exit-active {
  opacity: 0;
}
