.header {
  background-color: #e38d13;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 70px 10px 0;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.logo {
  flex: 0 0 auto;
}

.search-container {
  flex-grow: 2; /* Allow the search bar to expand */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.search-input {
  width: 500px; /* Increased the width */
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px 5px 5px 5px; /* Rounded corners for the input */
  outline: none;
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  margin-left: 10px;
}

.search-button {
  width: 100px;
  padding: 8px 12px;
  border: none;
  background-color: #fff;
  color: #e38d13;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px; /* Rounded corners for the button */
  margin-left: 0; /* Remove margin to align with input */
  height: 30px; /* Ensure the height matches the input */
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.search-button:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.menu {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

nav ul li {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
}

nav ul li a svg {
  margin-right: 5px;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.home-icon {
  height: 50px;
  margin-left: 30px;
  display: block;
}

nav ul li .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #e38d13;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

nav ul li .dropdown-menu li {
  display: block;
  margin: 0;
}

nav ul li .dropdown-menu li a {
  display: block;
  padding: 10px;
  font-size: 16px;
}

nav ul li .dropdown-menu li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

nav ul li:hover .dropdown-menu {
  display: block;
}

.fade-enter {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.fade-enter-active {
  opacity: 1;
}

.fade-exit {
  opacity: 1;
  transition: opacity 0.5s ease-out;
}

.fade-exit-active {
  opacity: 0;
}
