@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.home-container {
  text-align: center;
  padding: 20px;
}

.slider-container {
  width: 80%;
  margin: 0 auto 20px auto; /* Center the slider and add margin below */
}

.slider-image-container {
  width: 100%;
  height: 300px; /* Set the desired height for the slider */
  overflow: hidden; /* Hide the overflow to maintain aspect ratio */
  border-radius: 10px;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the container without stretching */
}

.shopping-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.shopping-card {
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  width: 270px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.shopping-card:hover {
  transform: translateY(-5px);
}

.card-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: bold;
}

.card-description {
  font-size: 14px;
  color: #666;
  margin-bottom: 15px;
}

.card-price {
  font-size: 16px;
  color: #e38d13;
  margin-bottom: 10px;
}

.card-features {
  display: flex;
  flex-wrap: wrap;
}

.card-feature {
  background-color: #e38d13;
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  margin: 5px 5px 0 0;
}
