.custom-file-input {
  display: none; /* Hide the default file input */
}

.custom-file-label {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #1890ff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  max-width: 200px;
}

.custom-file-label:hover {
  background-color: #40a9ff;
}
