.login-container {
  max-width: 350px;
  margin: 3em auto;
  padding: 1.5em;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

h2 {
  text-align: center;
  margin-bottom: 1em;
}

.input-container {
  margin-bottom: 1em;
}

label {
  display: block;
  margin-bottom: 0.5em;
}

input {
  width: 100%;
  padding: 0.5em;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 0.5em;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 1em; /* Added for spacing between buttons */
}

button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 1em;
}

.login-container img {
  width: 100%;
}

.google-signin-button {
  background-color: #db4437; /* Google brand color */
  border: none;
  margin-top: 0px; /* Added for spacing from other buttons */
}

.google-signin-button:hover {
  background-color: #c33d2e;
}
.custom-toast {
  height: 18px;
  width: 300px; /* Set a width for the toast */
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the toast */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  position: fixed; /* Fixed position */
  top: 20px; /* Distance from the top of the screen */
  right: 20px; /* Distance from the right of the screen */
  z-index: 1000; /* Ensure it is above other elements */
  display: flex; /* Flexbox for aligning content */
  align-items: center; /* Center items vertically */
  font-size: 24px; /* Larger text size */
  line-height: 18px; /* Ensure text height matches the element height */
}
