.register-container {
  position: relative;
  width: 350px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  margin: 3em auto;
}

.register-container img {
  width: 100%;
}

.input-container {
  margin-bottom: 15px;
}

.input-container label {
  display: block;
  margin-bottom: 5px;
}

.input-container input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.success {
  color: green;
  margin-bottom: 10px;
}
.custom-toast {
  height: 18px;
  width: 300px; /* Set a width for the toast */
  background-color: #333; /* Background color */
  color: #fff; /* Text color */
  border-radius: 5px; /* Rounded corners */
  padding: 10px; /* Padding inside the toast */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Shadow for depth */
  position: fixed; /* Fixed position */
  top: 20px; /* Distance from the top of the screen */
  right: 20px; /* Distance from the right of the screen */
  z-index: 1000; /* Ensure it is above other elements */
  display: flex; /* Flexbox for aligning content */
  align-items: center; /* Center items vertically */
  font-size: 24px; /* Larger text size */
  line-height: 18px; /* Ensure text height matches the element height */
}
